<div id="<%= dom_id task %>">
  <p>
    <strong>List:</strong>
    <%= link_to task.list, task.list %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

</div>
